In [3]:
import xgboost as xgb
import pandas as pd
import numpy as np
import datetime
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
def smape(y, y_pred):
    div = (abs(y_pred) + abs(y)) / 2
    errors = abs(y_pred - y) / div  
    smape = np.sum(errors) / len(y)
    return smape

In [4]:
df = pd.read_csv('./df_train.csv')
# change to date
df.date = pd.to_datetime(df.date, format='%Y-%m-%d')

In [5]:
# make df for store 1
store1 = df[df.store ==1]
# make df for store1 item 1
s1i1 = store1[store1.item==1]

# train and test datasets, predicting 3 months
train = s1i1[s1i1.date <= pd.datetime(2017,9,30)]
test = s1i1[s1i1.date > pd.datetime(2017,9,30)]

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:7: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:8: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.

In [19]:
# feature engineering
train['7day_ma'] = train.sales.rolling(window=7, center=False).mean()
train['7day_diff'] = train.sales.diff(7)
train['1day_diff'] = train.sales.diff(1)
train['1year_diff'] = train.sales.diff(365)

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
train.head(10)

        date  store  item  sales    7day_ma  7day_diff  1day_diff  1year_diff
0 2013-01-01      1     1     13        NaN        NaN        NaN         NaN
1 2013-01-02      1     1     11        NaN        NaN       -2.0         NaN
2 2013-01-03      1     1     14        NaN        NaN        3.0         NaN
3 2013-01-04      1     1     13        NaN        NaN       -1.0         NaN
4 2013-01-05      1     1     10        NaN        NaN       -3.0         NaN
5 2013-01-06      1     1     12        NaN        NaN        2.0         NaN
6 2013-01-07      1     1     10  11.857143        NaN       -2.0         NaN
7 2013-01-08      1     1      9  11.285714       -4.0       -1.0         NaN
8 2013-01-09      1     1     12  11.428571        1.0        3.0         NaN
9 2013-01-10      1     1      9  10.714286       -5.0       -3.0         NaN

In [ ]:
model = XGBClassifier()
model.fit(x_train, y_train)